__pycache__/
venv/
*.pyc
page_images/
diagrams/
diagrams_1/
extracted_images/
extracted_imgs/
output/
*.egg-info/
.DS_Store
*.docx
pdf/
llm_extraction/
questions*.json
questions*.jsonl
classified_questions.json
cleaned_classified_questions.json
renumbered_questions.json
extracted_content.json
added_prompt.jsonl
questions_with_diagrams*.json
questions_with_diagrams*.jsonl
HF_MODEL_README.md
add_prompt.py
classified_question.py
clean_topic_classification.py
cleaned_json_to_one_file.py
convert_to_qwen_model_training.py
doc.py
extract_json_from_word.py
img.py
jsonl.py
merging_text_dia.py
ocr.py
syllabus.json
